#items-wrapper{
    width: 100vw;

    margin-top: 14rem;
}

#items{
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

#items::-webkit-scrollbar{
    display: none;
}

.item{
    flex: none;
    padding: 0px;

    width: 50%;
    height: 46rem;

    scroll-snap-align: start;
    pointer-events: none;
    object-fit: contain;
}

.item > img{
    width: 100%;
    height: 100%;
    
    margin: 0px;
}


@media (max-width: 540px){
    #items-wrapper{
        width: 100vw;
    
        margin-top: 6rem;
    }
    
    .item{
        width: 100%;
        height: 56rem;
    }
}

@media (max-width: 720px){
    .item{
        width: 100%;
        height: 56rem;
    }
}

@media (max-width: 1380px) {
    .item{
        height: 46rem;
    }
}

