#product-card{
    width: 250px;
    height: 270px;
    
    display: flex;
    flex-direction: column;

    background-color: #FFF;
    
    border: 5px solid #BE9D29;
    border-radius: 5px;

    align-items: center;

    transition: all 0.4s ease;
    -webkit-animation: ease;
}

#product-card:hover {
    height: 280px;
    width: 260px;
    transform: scale(1.1);
    z-index: 12;
}

#product-card:hover .card-header .action-button-header {
    width: 52%;
}

#product-card > a {
    position: relative;
    
    font-size: 2rem;
    font-family: Ubuntu;
    
    color: #000;
    background-color: var(--color-background);

    width: 100%;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding-left: 7px;
}

#product-card .card-header > img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    padding: 0px;
}

.card-header {
    display: flex;
    justify-content: center;
    height: 52%;
    width: 100%;
}

.card-header .action-button-header {
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 10;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    opacity: 0.95;

    gap: 5px;

    font-size: 1.4rem;

    color: #000;
    font-weight: 400;
    
    background-color: var(--color-background);
    border-radius: 5px;
    
    width: 42%;
    height: fit-content;
    
    padding: 1px 3px;

    transition: all 0.8s;
}

.product-info {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;

    padding: 2px 25px;

    color: #000;
    
    font-size: 1.8rem;  
    font-family: Ubuntu;
    font-weight: 700;

    margin-top: 20px;
}

@media (max-width: 540px){
    #product-card{
        width: 200px;
        height: 220px;
    }

    #product-card:hover{
        height: 230px;
        width: 205px;
        transform: scale(1.1);
        z-index: 12;
    }

    .product-info{
        font-size: 1.7rem;
        padding: 0px 12px;
        margin-top: 13px;
    }
}



