#page-contact{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.contact-main{
    height: max-content;

    margin-top: 300px;
    
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin-right: 50px;
    margin-left: 0px;
}

.contact-main #cellphone-screen-img {
    width: 420px;
    height: 85%;

    object-fit: contain;
}

.contact-main #arrow-img{
    width: 300px;
    height: 40%;

    margin-top: -100px;

    object-fit: contain;

    margin-left: 0px;
}

#carousel{
    display: flex;

    width: 33%;

    margin-top: 50px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

#carousel::-webkit-scrollbar {
	width: 8px;
    height: 8px;
    background-color: #3b3b3b;
}

#carousel::-webkit-scrollbar-button:start:decrement,
#carousel::-webkit-scrollbar-button:end:increment  {
	display: none;
}

#carousel::-webkit-scrollbar-track-piece  {
	background-color: #faf3f3;
	-webkit-border-radius: 3px;
}

#carousel::-webkit-scrollbar-thumb:horizontal {
	background-color: #666;
	-webkit-border-radius: 3px;
}

.carousel-item{
    flex: none;
    padding: 0px;

    width: 100%;
    height: 47rem;

    scroll-snap-align: start;
    pointer-events: none;
    object-fit: contain;
}

.carousel-item > img{
    width: 100%;
    height: 100%;
    
    margin: 0px;
}

.contact-footer {
   padding: 20px;

   display: flex;
   flex-direction: column;

   background-color: #441400;

   justify-content: center;
   align-items: center;
}

.footer-header {
    display: flex;
    flex-direction: row;

    margin-top: -40px;

    padding: 5px 20px;

    border: 3px solid #000;
    border-radius: 5px;

    background-color: var(--color-background);
    color: #000;
}

.social-media-options {
    display: flex;
    flex-direction: row;

    width: 42rem;

    justify-content: space-between;

    padding-top: 20px;
}

.social-media-options section{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.social-media-options section a {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.8rem;

    margin-top: 7px;
    color: #FFF;
    text-decoration: none;
}

@media (max-width: 1400px) {
    
    .contact-main{
        margin-top: 550px;
    }
    
    .contact-main > img {
        width: 45rem;
        height: 43rem;
    }
}
