#page-header{
    background-image: url('../../assets/images/topBarImage.png');
    width: 100vw;
    height: 14.4rem;

    top: 0px;

    position: fixed;
    z-index: 999;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

    #page-header g{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #page-header img{
        margin-left: 20px;
        
        width: 12rem;
        height: 12rem;
    }

    #page-header li{ 
        position: relative; 
        float: left;
        
        margin-top: -25px;     
        margin-left: 30px;
        
        list-style: none;
       
        cursor: pointer;

        background-color: #fff;
        border-radius: 5px;
    }

    #page-header li + li{
        margin-left: 10px;
    }
    
    #page-header li a{color: #441400; font-size:1.6rem; border-radius: 10%; transition: background 0.3s; font-family: Poppins, sans-serif; text-decoration:none; padding:5px 10px; display:flex;}
     
    #page-header li a:hover{
    background:#EBCDE8; 
    color: #fff; 
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    text-shadow:0px 0px 5px #fff;
    transition: background 0.5s; 
    }

    #page-header .shopping-cart-link {
       margin-right: 70px;
       color: #fff;
       
       margin-top: -25px;
       display: flex;
       flex-direction: row;
       gap: 10px;
       align-items: center;
       text-decoration: none;
    }
    
    @media (max-width: 1400px){
        #page-header li a{
            font-size: 1.4rem;
        }
    }

    @media (max-width: 540px){
        
        #page-header{
            background-image: none;
            background-color: #FFF;
            
            height: 12vh;
            box-shadow: 2px 0px 8px 2px #000;
        }

        #page-header img{
            width: 8rem;
            height: 8rem;

            margin-left: 0px;
        }
        
        nav {
            display: none;
        }

        #page-header g{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
            padding: 10px;
        }

        .toggle-one,
        .toggle-two,
        .toggle-three{
            background-color: var(--color-background);
            height: 5px;
            width: 100%;
            margin: 6px auto;

            transition: 0.6s;
        }

        .menu-toggle{
            width: 40px;
            height: 30px;
            margin-right: 20px;
            margin-left: 0px;

            cursor: pointer;
        }

        .on{
            position: absolute;
            top: 0;
            left: 0;
            
            width: 100vw;
            height: 100vh;

            background-color: #FFF;

            z-index: 10; 
        }

        #page-header g.on{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #page-header .on .page-img{
           display: none;
        }

        .on nav{
            display: block;

            height: min-content;
        }

        #page-header .on li{
            width: 100vw;
            margin-top: 0px;

            position: unset; 

            float: none;
            margin-left: 0px;

            display: flex;

            justify-content: center;
        }

        .on .menu-toggle{
            position: absolute;
            right: 25px;
            top: 15px;
        }

        .on .toggle-one{
           transform: rotate(45deg) translate(7px, 7px);
           background-color: var(--color-background);
        }

        .on .toggle-two{
            opacity: 0;
        }

        .on .toggle-three{
            transform: rotate(-45deg) translate(8px, -10px); 
            background-color: var(--color-background);
        }
        
        .on nav ul{
            display: block;
            text-align: center;
        }

        #page-header .on li a{
            transition: 0.5s;
            font-size: 3rem;
            line-height: 8rem;
            display: block;
            width: 100vw;
            border-radius: 0px;
        }
    }
