#page-bakery{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.bakery-main{
    margin: 20rem 4.5rem;
    
    display: flex;
    flex-direction: column;
}

.filters {
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;

    position: sticky;

    align-items: center;
}

.bakery-cards {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
}