#bakery-filters {
    position: block;
    
    display: flex;

    flex-direction: row;
    align-items: center;
    
    gap: 15px;
    margin-left: 10px;

    height: 100px;
}

.filters-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    margin-top: 10px;

    width: 7rem;
    height: 100%;

    transition: all 0.2s ease-in;
}

.filters-item:hover {
    margin-top: 0px;
}

.item-photo {
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFF;
    border: 2px solid #BE9D29;
    border-radius: 50px;
}

.item-photo > img{
    width: 80%;
    height: 80%;

    object-fit: contain;
}

.item-name {
    font-family: Poppins;
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
}